.navigation {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0; 
    z-index: 3;
    width: 100%;
    left: 0;
}
.logo {
    max-width: 183px;
    margin-left: 115px;
}
label[for="header__radio"]{
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}
label:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.header__radio {
    display: none;
}
.header__menu {
    display: flex;
    min-width: 570px;
    justify-content: space-between;
    margin-right: 170px;
}