.container {
    max-width: 1170px;
    margin: 0 auto;
    min-height: 900px;
}
.pricing__box {
    padding-top: 50px;
}
.pricing__option {
    background-color: #F5F5F5;
}
.pricing-option__title {
    text-align: center;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    height: 150px;
}
.pricing-option__title::after {
    content: "";
    width: 170px;
    height: 1px;
    background-color: #EC7979;
    display: block;
    padding-bottom: 0;
    margin: 50px 0 0 500px;
}
.pricing-option__sub-title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    text-align: center;
    margin: -20px 0 70px 0;
}
.pricing__title {
    height: 60px;
    background-color: #333333;
    border-bottom: solid white 2px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: white;
    text-align: center;
    padding: 10px;
}
.pricing__cost {
    height: 100px;
    background-color: #333333;
    border-bottom: solid white 2px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: white;
    text-align: center;
    padding: 25px;
}
.pricing__feed {
    height: 50px;
    background-color: #333333;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 15px;
}
li {
    height: 50px;
    background-color: white;
    margin-top: 1px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    text-align: center;
    padding: 15px;
}
.pricing__select {
    display: flex;
    justify-content: space-between;
}
.pricing__column {
    position: relative;
    width: 370px;
}
.pricing__column:hover {
    cursor: pointer;
    box-shadow: #dbdddf 0 2px 5px 2px;
    top: -20px;
}
