@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;700&display=swap");
.tabs {
  position: relative;
  margin: 0 auto;
  max-width: 1170px;
  margin-top: 100px;
}
.tab-title {
  cursor: pointer;
}
.tab,
.tab-title {
  display: inline-block;
  border: none;
  min-width: 201px;
}
.tabs__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  display: flex;
  align-items: center;
  min-width: 570px;
  min-height: 124px;
  margin-left: 100px;
  margin-top: 30px;
}
.tab input[type="radio"] {
  display: none;
}
.tab-title {
  background: white;
  padding: 5px 10px;
  border-bottom: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
.tab-content {
  position: absolute;
  border: 1px solid #c6cbcd;
  left: 0;
  display: none;
  max-width: 1170px;
  max-height: 500px;
  padding: 0;
}
.tab :checked + .tab-title {
  position: relative;
  background: white;
  top: 1px;
  z-index: 1; 
  border-radius: 5px 5px 0 0;
  border: solid 1px #c6cbcd;
  border-bottom: solid white;
  font-family: "Open Sans";
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 9px;
}
.tab :checked ~ .tab-content {
  display: block;
}
.row__item {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
}
.tabs__info {
  max-width: 570px;
  max-height: 210px;
  min-height: 210px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-left: 100px;
  margin-top: 27px;
  margin-bottom: 27px;
}
button {
  width: 270px;
  height: 58px;
  border: none;
  background: #ec7979;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  justify-content: center;
  margin-left: 100px;
  cursor: pointer;
}
button:hover {
  background: #ab4949;
}
button:active {
  background: #ec7979;
  box-shadow: inset 0 0 10px #ab4949;
}
img {
  padding-left: 32px;
}

